@import "tailwindcss";

body {
  font-family: var(--font-outfit), system-ui, sans-serif;
  color: var(--color-my-gray);
}

@theme inline {
  --color-my-white: #f9fbff;
  --color-my-blue: #006de2;
  --color-my-deep-blue: #0F172A;
  --color-my-gray: #474b57;
  --color-my-blue-white: #deeafa;
}
